<div *ngIf="post">
  <div
    [ngClass]="{ 'border-info': post.active }"
    class="card shadow h-100 d-flex flex-column"
  >
    <div class="card-body flex-grow-1 d-flex flex-column">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text flex-grow-1">
        {{ post.body }}
      </p>
      <ul class="list-group list-group-flush mb-3">
        <li *ngFor="let tag of post.tags" class="list-group-item" appCustom>
          {{ tag | uppercase }}
        </li>
      </ul>
      <button
        class="btn btn-dark align-self-start"
        [routerLink]="['/post-detail', post.id]"
      >
        Detail
      </button>
      <ng-content></ng-content>
    </div>
  </div>
</div>
